<pe-header-page title="Eventos"></pe-header-page>
<!-- <div class="form-inline"> -->
<div class="form-group mb-2">
  <label for="" class="mr-2">Filtro:</label>
  <input
    type="text"
    class="form-control mr-2"
    placeholder="buscar"
    [(ngModel)]="filterList"
  />
  <!-- <button class="btn btn-outline-success">Buscar</button> -->
</div>
<!-- </div> -->

<table class="table table-striped">
  <thead class="thead-dark">
    <th>
      <button
        (click)="changeImage()"
        type="button"
        class="btn btn-outline-light btn-sm"
      >
        <i class=" {{!showImage ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
        {{!showImage ? 'Exibir' : 'Ocultar'}}
      </button>
    </th>
    <th>#</th>
    <th>Tema</th>
    <th>Local</th>
    <th>Data</th>
    <th>Qtd Pessoas</th>
    <th>Lote</th>
    <th>Opções</th>
  </thead>
  <tbody *ngIf="eventos && eventos.length > 0">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <!-- <img
          [collapse]="!showImage"
          [isAnimated]="true"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
          [src]="evento.imagemUrl"
          alt=""
        /> -->
        <img
          [collapse]="!showImage"
          [isAnimated]="true"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
          [src]="'../../../assets/images/javascript.jpg'"
          alt=""
        />
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormat}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <!-- <td>{{evento.lotes[0].nome}}</td> -->
      <td>{{evento.lotes}}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary btn-sm mr-2"
          tooltip="Editar"
        >
          <i class="fa fa-edit"></i>
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="openModal(template)"
          tooltip="Excluir"
        >
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- {{eventos | json}} -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar este evento?</p>
    <button type="button" class="btn btn-primary mr-2" (click)="confirm()">
      Sim
    </button>
    <button type="button" class="btn btn-danger" (click)="decline()">
      Não
    </button>
  </div>
</ng-template>
