<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio">Pro Eventos</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      [collapse]="isCollapsed"
      [isAnimated]="true"
    >
      <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/eventos"
            routerLinkActive="active"
            >Eventos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/palestrantes"
            routerLinkActive="active"
            >Palestrantes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contatos" routerLinkActive="active"
            >Contatos</a
          >
        </li>
      </ul>

      <ul class="navbar-nav" dropdown>
        <li class="nav-item dropdown">
          <a
            dropdownToggle
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-expanded="false"
            >Gleyson</a
          >
          <div *dropdownMenu class="dropdown-menu">
            <a class="dropdown-item" routerLink="/perfil">Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Sair</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
