<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div for="" class="input-group-text">Filtro:</div>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Buscar por tema e local"
          [(ngModel)]="filterList"
        />
        <!-- <button class="btn btn-outline-success">Buscar</button> -->
      </div>
    </div>
    <div>
      <a
        class="d-flex btn btn-outline-primary align-items-center"
        routerLink="/eventos/detalhe"
      >
        <i class="fa fa-plus-circle my1"></i>
        <b class="ml-1 d-none d-sm-block"> Novo </b>
      </a>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <th class="d-none d-md-table-cell">
        <button
          (click)="changeImage()"
          type="button"
          class="btn btn-outline-light btn-sm"
          style="color: #373a3c"
        >
          <i class=" {{ !showImage ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
          {{ !showImage ? "Exibir" : "Ocultar" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th class="d-none d-md-table-cell">Local</th>
      <th>Data</th>
      <th class="d-none d-md-table-cell">Qtd Pessoas</th>
      <th class="d-none d-md-table-cell">Lote</th>
      <th>Opções</th>
    </thead>
    <tbody *ngIf="eventos && eventos.length > 0">
      <tr
        *ngFor="let evento of eventosFiltrados"
        (click)="detalheEvento(evento.id)"
        style="cursor: pointer"
      >
        <td class="d-none d-md-table-cell">
          <!-- <img
          [collapse]="!showImage"
          [isAnimated]="true"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
          [src]="evento.imagemUrl"
          alt=""
        /> -->
          <img
            [collapse]="!showImage"
            [isAnimated]="true"
            [style.width.px]="widthImg"
            [style.margin.px]="marginImg"
            [src]="'../../../assets/images/javascript.jpg'"
            alt=""
          />
        </td>
        <td>{{ evento.id }}</td>
        <td>{{ evento.tema }}</td>
        <td class="d-none d-md-table-cell">{{ evento.local }}</td>
        <td>{{ evento.dataEvento | DateTimeFormat }}</td>
        <td class="d-none d-md-table-cell">{{ evento.qtdPessoas }}</td>
        <!-- <td>{{evento.lotes[0].nome}}</td> -->
        <td class="d-none d-md-table-cell">{{ evento.lotes }}</td>
        <td>
          <!-- <button
            type="button"
            class="btn btn-primary btn-sm mr-2"
            tooltip="Editar"
          >
            <i class="fa fa-edit"></i>
          </button> -->
          <button
            type="button"
            class="btn btn-danger btn-lg"
            (click)="openModal(template)"
            tooltip="Excluir"
          >
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- {{eventos | json}} -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar este evento?</p>
    <button type="button" class="btn btn-primary mr-2" (click)="confirm()">
      Sim
    </button>
    <button type="button" class="btn btn-danger" (click)="decline()">
      Não
    </button>
  </div>
</ng-template>
